

body {
    background-color: #95E1D3;
}

#mainTitle {
    font-family: 'Mrs Sheppards', cursive;
    font-size: 85px;
    color: #F38181;
    text-shadow: -3px 2px #000;
    text-align: center;
    margin-top: 0px;
    margin-left: -40px;
    margin-bottom: 60px;
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(-7deg);
}
.listClass {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    margin-top: 20px;
    
}
.listClass:nth-child(even) {
    background-color: #FCE38A;

}

#mainBox {
    width: 500px;
    min-height: 300px;
    box-shadow: 0px 3px 40px #c8c4c2;
    text-align: center;
    padding: 25px;
    background-color: #EAFFD0;
    margin: 0 auto;
}

h2 {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

#divTotal {
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
}

#addText, #priceText {
    width: 220px;
    height: 30px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #c8c4c2;
    color: #c8c4c2;
}

#addItem {
    width: 100%;
    display: relative;
    height: 40px;
    background-color: #F38181;
    color: #fff;
    border: none;
    margin-top: 20px;
/*    box-shadow: -2px 2px 4px #000;*/
    font-size: 28px;
    font-family: 'Raleway', sans-serif;

}

#control {
    width: 500px;
    margin: 20px auto;
}

#quantText {
    width: 50px;
    height: 30px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #c8c4c2;
    color: #c8c4c2;
}